<div class="login-wrap">
  <h1>Login form</h1>
  <form class="form-group" [formGroup]="loginForm" (submit)="submit()">
      <div class="headingsContainer">
          <h3>Sign in</h3>
          <p>Sign in with your username and password</p>
      </div>

      <!-- Main container for all inputs -->
      <div class="mainContainer">
          <!-- Username -->
          <label for="username">Your username</label>
          <input type="text" placeholder="Enter Username" name="username" required formControlName="username">

          <br><br>

          <!-- Password -->
          <label for="pswrd">Your password</label>
          <input type="password" placeholder="Enter Password" name="pswrd" required formControlName="password">

          <!-- sub container for the checkbox and forgot password link -->
          <div class="subcontainer">
              <label>
                  <input type="checkbox" checked="checked" name="remember"> Remember me
              </label>
              <p class="forgotpsd"> <a [routerLink]="['/forget-password']">Forgot Password?</a></p>
          </div>

          <!-- Submit button -->
          <button type="submit">Login</button>

          <!-- Sign up link -->
          <p class="register">Not a member? <a href="#">Register here!</a></p>
      </div>
  </form>
</div>
