.container {
    display: flex;
  }
  
  .left {
    width: 60%;
  }
  
  .right {
    width: 40%;
    padding: 20px;
  }
  
  header {
    background-color: #007bff;
    color: #fff;
    text-align: center;
    padding: 20px;
  }
  
  .image-container {
    position: relative;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Adjust the opacity as needed */
  }
  
  .overlay-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    font-family: "Circular", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    font-weight: bolder;
    text-align: center;
  }
  
  img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
  }
  
  
  h1 {
    text-align: center;
    font-family: "Circular", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  
  }
  
  .reviews {
    font-size: x-large;
    font-weight: bold;
  }
  
  .content {
    padding: 20px;
    font-family: "Circular", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    line-height: 30px;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  ul li {
    margin-bottom: 10px;
  }
  
  form {
    margin-top: 20px;
    width: 100%;
    font-family: "Circular", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    font-weight: bold;
  }

  label {
    display: block;
    margin-bottom: 6px;
  }

  input[type="text"],
  input[type="tel"],
  input[type="email"],
  select,
  input[type="time"],
  input[type="submit"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: rgb(213, 235, 244);
  }

  input[type="submit"] {
    background-color: blue;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 15px;
  }
  
  .how-it-works {
    display: flex;
    justify-content: space-between;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 50px;
  }
  
  .step {
    flex: 1;
    padding: 20px;
    background-color: #f9f9f9;
    /* border: 1px solid #ccc; */
    /* border-radius: 5px; */
    margin-right: 10px; /* Adjust margin as needed */
    text-align: center;
    /* border-radius: 100px; */
    font-family: "Circular", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  
  }
  
  .section {
    display: flex;
    margin-bottom: 50px;
    margin-top: 50px;
    font-family: "Circular", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  
  }
  
  .text-left, .text-right {
    flex: 1;
    margin-top: 2%;
    line-height: 30px;
    /* padding: 20px; */
  }
  
  .text-left{
    margin-left: 13%;
  }
  .text-right{
    margin-right: 13%;
  }
  
  .text-left h2, .text-right h2 {
    margin-top: 0;
  }
  
  .image-right, .image-left {
    flex: 1;
  
  }
  
  .image-right img, .image-left img {
    display: block;
    max-width: 60%;
    height: auto;
    border-radius: 20px;
  }
  
  span{
    font-size: 20px;
  }
  
  textarea{
    width: 100%;
    height: 120px;
    opacity: 0.5;
    }